<h1><u>About Me</u></h1>
<br />
<strong>First Name:</strong> Karim
<br />
<strong>Last Name :</strong> Tahan
<br />
<strong>Student Number:</strong> 040893836
<br />
<strong>Student Email:</strong> taha0025@algonquinlive.com
<br />
<br />
I am a Computer Engineering Computing Science Student at Algonquin College. I am 26 years old and love long walks on the beach. I currently work part-time at Agriculture and Agri-Food Canada on Carling. I have a pet dog named Maya.
<br />
<br />
I expect to learn C# and deployment strategies for web applications. Particularly, I'm excited to learn about deploying applications using Microsoft Azure.
<br />
<br />
<h1><u>Answers</u></h1>
<br />
<strong>C# is a strongly or loosely typed language?</strong>
<br />
C# is both a strongly and loosely typed language
<br />
<br />
<strong>What is a ‘Property’ in C# as it relates to classes and objects </strong>
<br />
They are mechanism which allow the exposure of private variables. Typically, getters and setters
<br />
<br />
<strong>Describe the MVC design pattern.</strong>
<br />
The Model-View-Controller design pattern defines a model of what an object is meant to hold, a controller that performs actions on those objects in some way (including CRUD features)
and the view displays everything in a UI of some sort(via html, jsp, etc)
<br />
<br />
<strong>Compare ASP.NET WebForms to ASP.NET MVC</strong>
<br />
Webforms are frameworks that have server controls, which aid in quickly developing pages with many interactions MVCs are frameworks that give great control over page designs, better load times due to not using server controls, and are more lightweight to deploy due to not having viewstates.
<br />
<br />
<strong>What is .NET Core?</strong>
<br />
It is a cross-platform, open-source development platform that can be used to create device, cloud and IoT applications.
<br />
<br />
<strong>Open the Person object in the Models Folder. The properties FirstName and LastName have square brackets above them. These statements have a name, what is it? What do these brackets do?</strong>
<br />
The first square brackets called 'Required' define that the First and Last name of a person cannot be null.
The second set a limit to the number of characters a first and last name can be.
<br />
<br />
<strong>Where do we store ‘static’ content in an MVC application?</strong>
<br />
Static files are stored within the web root directory of the project. By default, this is the wwwroot folder.
<br />
<br />
<strong>Describe the purpose of the Program.cs class in this project.</strong>
<br />
Program.cs is the main of the application.
<br />
<br />
<strong>Describe the purpose of the Startup.cs class in this project.</strong>
<br />
Startup.cs is meant to define the project's services and create the project's request processing pipelines (such as HTTP request pipelines)
<br />
<br />
<strong>MVC Core applications can ‘host’ themselves: true of false.</strong>
<br />
True
<br />
<br />
<strong>Name the language used to programmatically render HTML in MVC applications.</strong>
<br />
Razor markup syntax


