<h1><u>About Me</u></h1>
<br />
<strong>First Name:</strong> Karim
<br />
<strong>Last Name :</strong> Tahan
<br />
<strong>Student Number:</strong> 040893836
<br />
<strong>Student Email:</strong> taha0025@algonquinlive.com
<br />
<br />
I am a Computer Engineering Computing Science Student at Algonquin College. I am 26 years old and love long walks on the beach. I currently work part-time at Agriculture and Agri-Food Canada on Carling. I have a pet dog named Maya.
<br />
<br />
I expect to learn C# and deployment strategies for web applications. Particularly, I'm excited to learn about deploying applications using Microsoft Azure.
<br />
<br />
<h1><u>Answers</u></h1>
<br />
<strong>1. C# is a strongly or loosely typed language?</strong>
<br />
>>> C# can be both strongly and loosely typed.
<br />
<strong>2. What is a ‘Property’ in C# as it relates to classes and objects</strong>
<br />
<br />
<strong>3. Compare ASP.NET WebForms to ASP.NET MVC</strong>
<br />
<br />
<strong>4. What is .NET Core?</strong>
<br />
<br />
<strong>5. Open the Person object in the Models Folder. The properties FirstName and LastName have square brackets above them. These statements have a name, what is it? What do these brackets do?</strong>
<br />
<br />
<strong>6. Where do we store ‘static’ content in an MVC application?</strong>
<br />
<br />
<strong>7. Describe the purpose of the Program.cs class in this project.</strong>
<br />
<br />
<strong>8. Describe the purpose of the Startup.cs class in this project.</strong>
<br />
<br />
<strong>9. MVC Core applications can ‘host’ themselves: true of false..</strong>
<br />
<br />
<strong>10. Name the language used to programmatically render HTML in MVC applications..</strong>
<br />
<br />

